:host {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.form-select {
    width: 20em;
    margin-right: 1em;
}

.modal {
    background-color: rgba($color: #000000, $alpha: .6);
}