<select class="form-select" (change)="onSelect($event)">
    @for (page of pages(); track $index; let pageNum = $index) {
        <option
            [value]="pageNum"
            [selected]="page === selectedPage()"
        >
            {{ page.name }}
        </option>
    }
</select>

<button
    class="btn btn-primary me-2"
    (click)="onAdd()"
>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-file-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><path d="M12 11l0 6" /><path d="M9 14l6 0" /></svg>
    Nuova pagina
</button>

<button
    class="btn btn-primary"
    (click)="showModal = true"
>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-file-shredder"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" /><path d="M3 12l18 0" /><path d="M6 16l0 2" /><path d="M10 16l0 6" /><path d="M14 16l0 2" /><path d="M18 16l0 4" /></svg>
    Elimina pagina
</button>

@if (showModal && selectedPage(); as page) {
    <div class="modal show" tabindex="-1" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Elimina "{{ page.name }}"</h5>
                <button type="button" class="btn-close" (click)="showModal = false" aria-label="Annulla"></button>
            </div>
            <div class="modal-body">
                <p>Attenzione! Se cancelli la pagina non potrai più recuperare i dati!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="showModal = false">Annulla</button>
                <button type="button" class="btn btn-danger" (click)="onDelete(page)">Elimina</button>
            </div>
            </div>
        </div>
    </div>
}