<form class="grid" [formGroup]="form" (change)="onChange()" [style]="getGridStyle()">
    <div class="heading">
        <input formControlName="name" class="form-control" id="name" />
    </div>
    <div class="corner">
        <input type="color" formControlName="color" />
    </div>
    <ng-container formArrayName="columns">
        @for (col of columnsFormArray.controls; track $index; let colNum = $index) {
            <div class="cell" [formGroupName]="colNum" [style]="getColumnHeaderStyle(colNum)">
                <textarea
                    class="form-control"
                    formControlName="name"
                ></textarea>
            </div>
        }
    </ng-container>
    <ng-container formArrayName="rows">
        @for (row of rowsFormArray.controls; track $index; let rowNum = $index, lastRow = $last) {
            <ng-container [formGroupName]="rowNum">
                <div class="cell" [style]="getRowHeaderStyle(rowNum)">
                    <textarea
                        class="form-control"
                        formControlName="name"
                    ></textarea>
                </div>
                <ng-container formArrayName="cells">
                    @for (cell of getCellControls(row).controls; track $index; let cellNum = $index) {
                        @if (getRowSpan(rowNum, cellNum) > 0) {
                            <div class="cell" [formGroupName]="cellNum" [style]="getCellStyle(rowNum, cellNum)">
                                <textarea
                                    class="form-control"
                                    formControlName="name"
                                ></textarea>
                                @if (!lastRow) {
                                    <div class="buttons bg-light">
                                            <button
                                                class="btn btn-sm btn-primary"
                                                (click)="onCellMerge(rowNum, cellNum)"
                                            >
                                                Unisci
                                            </button>
                                        @if (getRowSpan(rowNum, cellNum) > 1) {
                                            <button
                                                class="btn btn-sm btn-primary"
                                                (click)="onCellSplit(rowNum, cellNum)"
                                            >
                                                Dividi
                                            </button>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    }
                </ng-container>
            </ng-container>
        }
    </ng-container>
</form>