:host {
    padding: .5rem;
    height: 100%;
    overflow-y: auto;
}

.grid {
    display: grid;
    width: 100%;
    min-height: 400px;
}

.cell {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--bs-border-color-translucent);
    border-right: 1px solid var(--bs-border-color-translucent);
    & > textarea {
        flex-grow: 1;
        border: 0;
    }
    & > .buttons {
        text-align: center;
        padding: .5em 0;

        .btn {
            margin-right: .25em;
        }
    }
}

.heading {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: -1;
}

.corner {
    grid-column-start: 1;
    grid-row-start: 2;
    text-align: center;
    align-content: center;
}