@if (form(); as form) {
    <form [formGroup]="form" (change)="onChange()" class="d-flex flex-column gap-2 p-2 bg-light">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-file"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /></svg>
                    Pagina
                </h5>
                <app-inset-form-control label="Margini" formControlName="margin"></app-inset-form-control>
            </div>
        </div>

        <div class="card" formGroupName="heading">
            <div class="card-body">
                <h5 class="card-title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-heading"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 12h10" /><path d="M7 5v14" /><path d="M17 5v14" /><path d="M15 19h4" /><path d="M15 5h4" /><path d="M5 19h4" /><path d="M5 5h4" /></svg>
                    Intestazione pagina
                </h5>
                <app-inset-form-control label="Spaziatura" formControlName="padding"></app-inset-form-control>
                <app-type-form-control formControlName="type"></app-type-form-control>
            </div>
        </div>

        <div class="card" formGroupName="columnHeaders">
            <div class="card-body">
                <h5 class="card-title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-table-row"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" /><path d="M9 3l-6 6" /><path d="M14 3l-7 7" /><path d="M19 3l-7 7" /><path d="M21 6l-4 4" /><path d="M3 10h18" /><path d="M10 10v11" /></svg>
                    Intestazione colonne
                </h5>
                <app-inset-form-control label="Spaziatura" formControlName="padding"></app-inset-form-control>
                <app-type-form-control formControlName="type"></app-type-form-control>
            </div>
        </div>

        <div class="card" formGroupName="rowHeaders">
            <div class="card-body">
                <h5 class="card-title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-table-column"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" /><path d="M10 10h11" /><path d="M10 3v18" /><path d="M9 3l-6 6" /><path d="M10 7l-7 7" /><path d="M10 12l-7 7" /><path d="M10 17l-4 4" /></svg>
                    Intestazione righe
                </h5>
                <app-inset-form-control label="Spaziatura" formControlName="padding"></app-inset-form-control>
                <app-type-form-control formControlName="type"></app-type-form-control>
                <div class="form-floating mt-2 mb-3">
                    <input id="rowHeaders-width" type="number" class="form-control" formControlName="width" />
                    <label for="rowHeaders-width">Larghezza [mm]</label>
                </div>
            </div>
        </div>

        <div class="card" formGroupName="cells">
            <div class="card-body">
                <h5 class="card-title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-border-all"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M4 12l16 0" /><path d="M12 4l0 16" /></svg>
                    Celle
                </h5>
                <app-inset-form-control label="Spaziatura" formControlName="padding"></app-inset-form-control>
                <div class="form-floating mb-3">
                    <input id="cells-spacing" type="number" class="form-control" formControlName="spacing" />
                    <label for="cells-spacing">Spazio linea [mm]</label>
                </div>
                <div class="form-floating mb-3">
                    <input id="cells-empty-color" type="color" class="form-control" formControlName="emptyColor" />
                    <label for="cells-empty-color">Colore celle vuote</label>
                </div>
            </div>
        </div>

        <div class="card" formGroupName="teacher">
            <div class="card-body">
                <h5 class="card-title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-school"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" /><path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" /></svg>
                    Nome insegnante
                </h5>
                <app-type-form-control formControlName="type"></app-type-form-control>
            </div>
        </div>

        <div class="card" formGroupName="location">
            <div class="card-body">
                <h5 class="card-title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-building-community"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 9l5 5v7h-5v-4m0 4h-5v-7l5 -5m1 1v-6a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v17h-8" /><path d="M13 7l0 .01" /><path d="M17 7l0 .01" /><path d="M17 11l0 .01" /><path d="M17 15l0 .01" /></svg>
                    Classe
                </h5>
                <app-type-form-control formControlName="type"></app-type-form-control>
            </div>
        </div>

    </form>
}